.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.col {
    border: 1px solid black;
    min-height: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first {
    order: 1;
}

.bg-red {
    background-color: #a32829;
    order: 1;
}

.bg-orange {
    background-color: #E67E22;
}

.bg-blue {
    background-color: #5499C7;
    order: 3;
}

.col-btn {
    padding: 0;
}

.dashed {
    border-style: dashed;
}

.btn {
    width: 100%;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

.modal-content {
    height: 250px;
    justify-content: space-between;
}

.modal-footer {
    align-items: end;
}

.modal-title {
    text-align: center;
    padding: 0 20px 50px 20px;
}

.btn-close {
    display: flex;
    align-self: end;
    margin: 10px;
}

@media only screen and (max-width: 575px) {
    /* Блоки должны быть 100% ширины и располагаться вертикально */
    .col {
        width: 100%;
    }
    .row {
        flex-direction: column;
    }
}