.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.text-center {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    width: 300px;
    height: fit-content;
    padding: 6px 12px;
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.form__input-label {
    display: flex;
    flex-direction: column;
}

.form__input-container {
    display: flex;
    justify-content: space-between;
}

.form__submit-btn {
    display: flex;
    align-items: center;
    align-self: end;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: var(--bs-blue);
    color: #fff;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}


.dropdown-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropdown-select {
    width: 160px;
    height: fit-content;
    padding: 6px 12px;
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.dropdowns-container {
    display: flex;
    gap: 10px;
}

.btn.btn-secondary {
    width: 160px;
    background-color: #52BE80;
    border-color: #52BE80;
    --bs-btn-bg: #229954;
    --bs-btn-border-color: #52BE80;
    --bs-btn-hover-bg:#229954;
    --bs-btn-active-bg: #229954;
    --bs-btn-active-border-color: #52BE80;
}

.dropdowns-container .dropdown {
    width: 90%;
}

.col-12 {
    width: fit-content;
    display: flex;
    align-items: center;
}

.json {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.json__header {
    text-align: center;
}

.json__data {
    display: flex;
    max-width: 836px;
    word-break: break-all;
}

@media screen and (max-width: 861px) {
    .dropdowns-container {
        flex-wrap: wrap;
        align-self: center;
        width: 184px;
    }
    .input-group .btn {
        margin-left: 17%;
    }
}