.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.col {
    border: 1px solid black;
    min-height: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-red {
    background-color: #a32829;
}

.bg-orange {
    background-color: #E67E22;
}

.bg-blue {
    background-color: #5499C7;
}

.col-btn {
    padding: 0;
}

.dashed {
    border-style: dashed;
}

.btn {
    width: 100%;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

.modal-img {
    width: 300px;
    display: flex;
    align-self: center;
}

.btn-close {
    display: flex;
    align-self: end;
    margin: 10px;
}

@media only screen and (max-width: 575px) {
    /* Блоки должны быть 100% ширины и располагаться вертикально */
    .col {
        width: 100%;
    }
    .row {
        flex-direction: column;
    }
}